<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout">

<head>
    <meta charset="UTF-8">
    <title>Spring Boot全局异常处理</title>
</head>
<body>
    <div layout:fragment="content" th:remove="tag">
        <div style="padding-left: 20px" id="navbar">
            <h1>系统异常统一处理</h1>
            <h3 th:text="'错误信息:' + ${msg}"></h3>
            <h3 th:text="'请求地址:'+${url}"></h3>

            <h2>Debug</h2>
            <a th:href="@{'https://www.gogle.com/webbhp?hl=zh-CN='+${msg}}"
               class="btn btn-primary btn-lg" target="_blank" id="Google">Google</a>
            <h2>异常堆栈跟踪日志StackTrace</h2>
            <div th:each="line:${stackTrace}">
                <div th:text="${line}"></div>
            </div>
        </div>
    </div>
    <div layout:fragment="js" th:remove="tag">

    </div>
</body>
</html>