<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<!--    <plugins>-->
<!--        <plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>-->
<!--    </plugins>-->
<!--    <mappers>-->
<!--        &lt;!&ndash; 批量mapper的扫描 &ndash;&gt;-->
<!--        <package name="com.example.mysqlplus.mapper"/>-->
<!--    </mappers>-->
    
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

        <!--加载sql映射文件-->
<!--        <mappers>-->
<!--            <package name="com.example.mysqlplus.mapper.*.xml"></package>-->
<!--        </mappers>-->
</configuration>